/* home page styling */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.home-content-wrapper {
  background-color: rgba(160, 175, 152, 1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  font-size: 35pt;
  font-weight: 500;
  color: rgba(76, 50, 33, 1);
  text-align: center;
}
#transparent-wrap {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  border-radius: 75px;
  height: 504px;
  width: 1512px;
}
.item {
  background-color: rgba(226, 205, 188, 1);
  height: 499px;
  width: 441px;
  border-radius: 50px;
}
